<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EduSync</title>
    <link rel="icon" type="image/x-icon" href="/favicon2.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo-container">
            <img src="images/FavIcon-02.png" alt="EduSync Logo" class="logo">
            <h1 class="logo-text">EduSync</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="hero" id="home">
    <div class="hero-container">
        <div class="content">
            <h1>Welcome to <span class="highlight">EduSync</span></h1>
         <h3> -An Academic Management System</h3>
        <p>Effciently manage and track faculty workloads across departments with our
             innovative platform.</p>
            <div class="btn-group">
                <button class="btn">Explore Departments</button>
                <button class="btn">Manage Faculty</button>
                <button class="btn">View Workloads</button>
            </div>

        </div>
        <div class="gif-box">
            <img src="images/Bizgraphics3.gif" alt="Faculty Management GIF">
        </div>
    </div>
</section>

<section class="about-section"  id="about">
    <div class="about-content">
        <h2>About Us</h2>
        <p>
            EduSync is an <b>Academic Management System </b>designed to help
            educational institutions streamline administrative tasks
            efficiently. It enables schools and colleges to manage faculty profiles,
            class schedules, course assignments, Faculty availability, leave management,
            and performance evaluations all in one place. By automating routine processes,
            EduSync enhances faculty and student interaction, reduces manual workload, and ensures a
            smooth academic workflow.

           </p>
        <button class="learn-more">Learn More</button>
    </div>
    <div class="about-image">
        <img src="images/aboutus.jpeg" alt="Welcome Back to School">
    </div>
</section>


<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>About Us</h3>
            <p>A faculty management system helps Colleges handle administrative tasks efficiently.</p>
        </div>
        <div class="footer-section">
            <h3>Information Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/faculties">Faculties</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </div>
        <div class="footer-section" >
            <h3>Contact Details</h3>
            <p><strong>Email:</strong><a href="mailto:edusyncinfo@test.com">edusyncinfo@test.com </a></p>
            <p><strong>Phone:</strong><a href="tel:+919912195628"> +91 9912195628</a></p>
            <p><strong>Address:</strong> #890 CFO Apartment, Mayur Vihar, Delhi, India</p>

        </div>
    </div>
    <p class="footer-bottom">&copy; 2025 | EduSync | All Rights Reserved</p>
</footer>

</body>
</html>
