<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Faculty Flow</title>
    <link rel="icon" type="image/x-icon" href="/favicon2.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<header>
    <h1>EduSync</h1>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/signup">Sign Up</a>
    </div>
</header>
<div class="container">
    <h2>Login</h2>
    <p>Enter your credentials to access the system.</p>

    <form action="/login" method="post">
        <div class="input-container">
            <i class="fas fa-envelope"></i>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="input-container">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>

        <div class="input-container">
            <i class="fas fa-user"></i>
            <select id="role" name="role">
                <option value="">Choose Role</option>
                <option value="faculty">Faculty</option>
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select>
        </div>

        <button type="submit">Login</button>
    </form>

    <p class="signup-link">Don't have an account? <a href="/signup">Sign up</a></p>

</div>
<footer>
    <p>&copy; 2025 Faculty Management System</p>
</footer>

<div id="errorPopup" class="error-popup" th:if="${error}">
    <p th:text="${error}"></p>
    <button onclick="closePopup()">✖</button>
</div>

<script>
    function closePopup() {
     var popup = document.getElementById("errorPopup");
     if (popup) {
         popup.style.animation = "fadeOut 0.5s ease-in-out";
         setTimeout(() => popup.style.display = "none", 500);
     }
 }

 setTimeout(closePopup, 5000);

</script>

</body>
</html>
