<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - Faculty Flow</title>
    <link rel="icon" type="image/x-icon" href="/favicon2.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
<header>
    <h1>EduSync</h1>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </div>
</header>
<div class="container">
    <h2>Sign Up</h2>
    <p>Create an account to manage faculty workloads.</p>

    <form action="/signup" method="post">
        <div class="input-container">
            <i class="fas fa-user"></i>
            <input type="text" id="name" name="name" placeholder="Full Name" required>
        </div>

        <div class="input-container">
            <i class="fas fa-envelope"></i>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>

        <div class="input-container">
            <i class="fas fa-id-badge"></i>
            <input type="text" id="rollNo" name="rollNo" placeholder="Roll Number" required>
        </div>

        <div class="input-container">
            <i class="fas fa-building"></i>
            <select id="department" name="department" required>
                <option value="" disabled selected>Select your department</option>
                <option value="CSE">CSE</option>
                <option value="CSIT">CSIT</option>
                <option value="CSM">CSM</option>
                <option value="AIML">AIML</option>
                <option value="IT">IT</option>
                <option value="CSD">CSD</option>
                <option value="CSC">CSC</option>
                <option value="EEE">EEE</option>
                <option value="ECE">ECE</option>
                <option value="MECH">MECH</option>
            </select>
        </div>

        <div class="input-container">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>

        <button type="submit" class="button">Sign Up</button>
    </form>
    <p class="signup-link">Already have an account? <a href="/login">Login</a></p>


</div>
<footer>
    <p>&copy; 2025 Faculty Management System</p>
</footer>

<div id="errorPopup" class="error-popup" th:if="${signupError}">
    <p th:text="${signupError}"></p>
    <button onclick="closePopup()">✖</button>
</div>

<script>
    function closePopup() {
        var popup = document.getElementById("errorPopup");
        if (popup) {
            popup.style.animation = "fadeOut 0.5s ease-in-out";
            setTimeout(() => popup.style.display = "none", 500);
        }
    }

    setTimeout(closePopup, 5000);
</script>

</body>
</html>
